Repository ChemiAtlow/fakelook, pull requests merged in 2021-02, with the labels that each got.

#2 stuff
  packages/common/src/app.ts
  packages/common/src/constants/index.ts
  packages/common/src/constants/urls.ts
  packages/common/src/index.ts
Labels: common, feature

#1 Start UI
  packages/client/package.json
  packages/client/public/index.html
  packages/client/src/App.vue
  packages/client/src/components/Icon/icons.ts
  packages/client/src/components/Icon/index.vue
  packages/client/src/components/Loader/index.vue
  packages/client/src/components/NavBar/index.vue
  packages/client/src/directives/clickOutside.ts
  packages/client/src/main.ts
  packages/client/src/router/index.ts
  packages/client/src/utils/_vars.scss
  packages/client/src/views/Login.vue
  packages/client/vue.config.js
  yarn.lock
Labels: client, feature

#4 Fix ts builds
  package.json
  packages/common/package.json
  packages/common/tsconfig.json
  packages/common/tsconfig.tsbuildinfo
  packages/server/package.json
  packages/server/tsconfig.json
  scripts/start.js
  yarn.lock
Labels: common, maintenance, server

#3 Spin up server
  .gitignore
  packages/common/src/index.ts
  packages/common/src/models/classes/Guid.ts
  packages/common/src/models/classes/index.ts
  packages/common/src/models/index.ts
  packages/common/tsconfig.tsbuildinfo
  packages/server/package.json
  packages/server/src/app.ts
  packages/server/src/constants/general.ts
  packages/server/src/constants/index.ts
  packages/server/src/constants/status_codes.ts
  packages/server/src/custom-typings.d.ts
  packages/server/src/errors/HttpError.ts
  packages/server/src/errors/index.ts
  packages/server/src/middleware/error.middleware.ts
  packages/server/src/middleware/index.ts
  packages/server/src/middleware/notFound.middleware.ts
  packages/server/src/middleware/reqId.middleware.ts
  packages/server/src/models/index.ts
  packages/server/src/models/params.ts
  packages/server/src/services/appLogger.service.ts
  packages/server/src/services/index.ts
  packages/server/src/utils/expressAsync.ts
  packages/server/src/utils/index.ts
  scripts/start.js
  yarn.lock
Labels: common, feature, server

#8 Common interfaces
  packages/common/src/models/classes/index.ts
  packages/common/src/models/index.ts
  packages/common/src/models/interfaces/AuthUser.ts
  packages/common/src/models/interfaces/Comment.ts
  packages/common/src/models/interfaces/FriendRequest.ts
  packages/common/src/models/interfaces/Group.ts
  packages/common/src/models/interfaces/Like.ts
  packages/common/src/models/interfaces/Post.ts
  packages/common/src/models/interfaces/Tag.ts
  packages/common/src/models/interfaces/User.ts
  packages/common/src/models/interfaces/index.ts
Labels: common

#5 Login page UI
  packages/client/src/App.vue
  packages/client/src/components/Forms/Button.vue
  packages/client/src/components/Forms/FormField.vue
  packages/client/src/components/Forms/index.ts
  packages/client/src/components/Icon/Icon.vue
  packages/client/src/components/Icon/icons.ts
  packages/client/src/components/Icon/index.ts
  packages/client/src/components/Layout/Container.vue
  packages/client/src/components/Layout/Row.vue
  packages/client/src/components/Layout/index.ts
  packages/client/src/components/Loader/index.vue
  packages/client/src/compositions/auth.ts
  packages/client/src/router/index.ts
  packages/client/src/shims-vue.d.ts
  packages/client/src/utils/_exportVars.scss
  packages/client/src/utils/_vars.scss
  packages/client/src/views/Auth.vue
  packages/client/src/views/Login.vue
  packages/client/src/views/e404.vue
  packages/client/vue.config.js
  packages/common/src/constants/index.ts
  packages/common/src/constants/validators.ts
  vetur.config.js
Labels: client, common, feature

#18 fix server logs
  packages/service_posts/src/app.ts
  packages/service_view/src/app.ts
Labels: fix, server

#20 Google login (frontend)
  packages/client/src/views/Auth.vue
Labels: client, feature

#6 Dockerize
  docker-compose.yml
Labels: feature

#19 Simple auth - server
  packages/common/package.json
  packages/common/src/constants/index.ts
  packages/common/src/constants/time.ts
  packages/common/src/errors/BadRequestError.ts
  packages/common/src/errors/index.ts
  packages/common/src/middleware/index.ts
  packages/common/src/middleware/validation.middleware.ts
  packages/common/src/models/classes/AuthUser.dto.ts
  packages/common/src/models/classes/RequestResetPasswod.dto.ts
  packages/common/src/models/classes/ResetPassword.dto.ts
  packages/common/src/models/classes/index.ts
  packages/common/src/models/interfaces/AuthUser.ts
  packages/common/src/models/interfaces/Email.ts
  packages/common/src/models/interfaces/index.ts
  packages/server/package.json
  packages/service_authentication/package.json
  packages/service_authentication/src/app.ts
  packages/service_authentication/src/constants/dbInfo.ts
  packages/service_authentication/src/constants/index.ts
  packages/service_authentication/src/controllers/basicAuth.controller.ts
  packages/service_authentication/src/controllers/index.ts
  packages/service_authentication/src/dal/MySqlConnection.ts
  packages/service_authentication/src/dal/User.ts
  packages/service_authentication/src/dal/index.ts
  packages/service_authentication/src/errors/EmailTakenError.ts
  packages/service_authentication/src/errors/WrongCredentialsError.ts
  packages/service_authentication/src/errors/index.ts
  packages/service_authentication/src/routes/basicAuth.routes.ts
  packages/service_authentication/src/routes/index.ts
  packages/service_authentication/src/services/basicAuth.service.ts
  packages/service_authentication/src/services/email.service.ts
  packages/service_authentication/src/services/index.ts
  packages/service_identity/package.json
  packages/service_posts/package.json
  packages/service_view/package.json
  yarn.lock
Labels: common, feature, server

#22 Google Auth UI - PT 2
  packages/client/src/views/Auth.vue
Labels: client, fix

#24 setup proxy server
  packages/server/package.json
  packages/server/src/app.ts
  yarn.lock
Labels: feature, server

#23 Google auth UI - again
  packages/client/package.json
  packages/client/src/components/Auth/GoogleButton.vue
  packages/client/src/compositions/auth.ts
  packages/client/src/router/index.ts
  packages/client/src/services/auth.service.ts
  packages/client/src/services/http.service.ts
  packages/client/src/services/index.ts
  packages/client/src/views/Auth.vue
  yarn.lock
Labels: client, fix

#21 Google login (backend)
  packages/common/src/errors/index.ts
  packages/common/src/models/interfaces/AuthUser.ts
  packages/service_authentication/package.json
  packages/service_authentication/src/app.ts
  packages/service_authentication/src/constants/google.ts
  packages/service_authentication/src/constants/index.ts
  packages/service_authentication/src/controllers/google.controller.ts
  packages/service_authentication/src/controllers/index.ts
  packages/service_authentication/src/dal/User.ts
  packages/service_authentication/src/models/GoogleUser.ts
  packages/service_authentication/src/models/index.ts
  packages/service_authentication/src/routes/google.routes.ts
  packages/service_authentication/src/routes/index.ts
  packages/service_authentication/src/services/email.service.ts
  packages/service_authentication/src/services/googleAuth.service.ts
  packages/service_authentication/src/services/index.ts
  yarn.lock
Labels: common, feature, server

#25 Fix route method
  packages/service_authentication/src/routes/google.routes.ts
Labels: fix, server

#26 Facebook login (frontend)
  packages/client/src/components/Auth/FacebookButton.vue
  packages/client/src/components/Auth/GoogleButton.vue
  packages/client/src/services/auth.service.ts
  packages/client/src/views/Auth.vue
Labels: feature
