Repository ChemiAtlow/fakelook, pull requests merged in 2021-03, with the labels that each got.

#29 Optimize UI
  packages/client/src/App.vue
  packages/client/src/components/Auth/FacebookButton.vue
  packages/client/src/components/Auth/GoogleButton.vue
  packages/client/src/components/Auth/index.ts
  packages/client/src/components/Loader/index.vue
  packages/client/src/components/Modal/BaseModal.vue
  packages/client/src/components/Modal/ErrorModal.vue
  packages/client/src/components/Modal/MessageModal.vue
  packages/client/src/components/Modal/ModalHandler.vue
  packages/client/src/components/Modal/index.ts
  packages/client/src/compositions/auth.ts
  packages/client/src/compositions/authState.ts
  packages/client/src/compositions/modal.ts
  packages/client/src/router/index.ts
  packages/client/src/services/auth.service.ts
  packages/client/src/utils/TabUtils.ts
  packages/client/src/views/Auth.vue
Labels: client, maintenance

#27 Facebook login (backend)
  packages/service_authentication/src/app.ts
  packages/service_authentication/src/controllers/facebook.controller.ts
  packages/service_authentication/src/controllers/index.ts
  packages/service_authentication/src/models/FacebookUser.ts
  packages/service_authentication/src/models/index.ts
  packages/service_authentication/src/routes/facebook.routes.ts
  packages/service_authentication/src/routes/index.ts
  packages/service_authentication/src/services/facebookAuth.service.ts
  packages/service_authentication/src/services/index.ts
Labels: feature, server

#31 Main server routing
  packages/server/package.json
  packages/server/src/app.ts
  packages/server/src/controllers/auth.controller.ts
  packages/server/src/controllers/index.ts
  packages/server/src/routes/auth.routes.ts
  packages/server/src/routes/index.ts
  packages/server/src/services/http.service.ts
  packages/server/src/services/index.ts
Labels: fix, server

#32 UI auth improv
  packages/client/src/compositions/auth.ts
  packages/client/src/views/Auth.vue
Labels: client, fix
